# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# testing
/coverage

# env files
.env*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
*.pem
.vercel
